



body{
	margin: 0 75px;
}

/* top navigation */

.top{
	color:red;
	font-family: 'Lora', serif;
	font-size: 30px;
	text-decoration: none;
	padding: 30px;
	float: right;
	display: inline-block;
}
.top a{
	color:inherit;
	font-family: 'Lora', serif;
	font-size: 30px;
	text-decoration: none;
	padding: 30px;
	float: right;
	display: inline-block;
}
}

a#nav-btn1:hover{
	color: #21436F;
}
a#nav-btn2:hover{
	color: #21436F;
}
a#nav-btn3:hover{
	color: #21436F;
}


/* feature area- hero + aside */

#two_column {
    padding: 20px;
}

#left {
    float: left;
    padding: 20px;
    width: 60%;
}

#right {
	background-color: #ffc675;
    float: right;
    padding: 10;
    width: 30%;
}
a#main-CTA:hover{
	color: green;
	text-decoration: overline;
}


#slogan{
	color: #21436F;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-size: 20px;
	text-align: center;
}

#main-CTA{
	color: black;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-size: 24px;
	text-align: center;
	text-decoration: underline;
}

a#second-CTA{
	color: #21436F;
	background-color: 0,0;
	border: solid thin #21436F;
	padding: 10px;
}

a#second-CTA:hover{
	color: #fff;
	background-color: #21436F;
	border: solid thin #21436F;
	padding: 10px;
}



#second-CTA{
	color: black;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}

#hero_img{
	width: 580px;
}

#aside_img{
	width: 300px;
}



/* middle piece- list */


ul{
	color: #767676;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-weight: 300;
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: center;
    list-style-type: none;	
}



/* circles + quote */


aside{
	margin-top: 25%;
}

.columns{
	float: left;
}

.circle-CTA{
	background-color: #21436F;
	color:#fff;
	text-align: center;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	text-decoration: none;
	padding: 20px;
	margin: 10px;
	display: block;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

a.circle-CTA:hover:{
	background-color: red;
}

.quote{
	color: #21436F;
	font-family: 'Lora', serif;
	font-size: 1em;
	line-height: 1.5em;	
	margin: 20px;
	padding: 5px;
	width: 200px;
}



/* instagram V */

.column{
	float: left;
	width: 25%;
	padding: 5px;
}

.row::after{
	content: " ";
	clear: both;
	display: table;
}

/* bottom nav- footer */

.bottom-nav{
	color:red;
	font-family: 'Lora', serif;
	font-size: 18px;
	text-decoration: none;
	padding: 10px;
	float: right;
	display: inline-block;
	margin: 15px;
}

/* type stack */

h1{
	color: #21436F;
	font-family: 'Lora', serif;
	font-size: 42px;
	text-align: left;
	font-weight: 400;
	text-align: center;
}

h2{
	color: #21436F;
	font-family: 'Lora', serif;
	font-weight: 300;
	font-size: 32px;
	text-align: left;
}


h3{
	color: #21436F;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-weight: 300;
	font-size: 26px;
	text-align: center;
}

h4{
	color: #21436F;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;
	clear: both;
}

p{
	color: #767676;
	font-family: 'Lora', Georgia, serif;
	font-size: 17px;
	line-height: 28px;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}




/*

try:;
margin
padding
border
width
text-align

body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;

    body{
	background-image: url(../images/lauren-kay-632247-unsplash.jpg);
}
}
	color: #767676;
	font-family: 'Work Sans', 'Helvetica', sans-serif;
	font-weight: 300;
	font-style: outline;
	font-size: 54px;
	text-align: center;	

	header = #FFED74
- nav = #E8C66A
- aside = #FFC675
- article = #E89C6C
- footer = #FF957E
- div / section = #FFE2B8

header{
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px
}
nav{
	background-color: #e8c66a;
}
aside{
	background-color: #ffc675;
}
article{
	background-color: #e89c6c;
}
footer{
	background-color: #ff957e;
}
div{
	background-color: #ffe3b8;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


*/




