
/*

try:;
margin
padding
border
width
text-align

body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;

    body{
	background-image: url(../images/lauren-kay-632247-unsplash.jpg);
}
}



*/



h1{
	color: #767676;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-style: outline;
	font-size: 54px;
	text-align: center;
}

#slogan{
	color: #767676;
	font-family: Georgia, serif;
	font-size: 24px;
	text-align: center;
	font-style: italic;
}

h2{
	color: #767676;
	font-family: Helvetica, sans-serif;
	font-weight: thin;
	font-size: 36px;
	text-align: left;
}

.content{
	color: #767676;
	font-family: Georgia, serif;
	font-size: 18px;
}

h3{
	color: #767676;
	font-family: Helvetica, sans-serif;
	font-weight: thin;
	font-size: 22px;
	text-align: left;
}

ul{
	color: #767676;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
    list-style-type: none;	
}


.quote{
	color:#21436F;
	font-family:Helvectica, sans-serif;
	font-style: thin;	
}